nav>*,ul li>*{
    text-decoration: none;
    color: black;
}
ul li{
    list-style: none;
}
.nav_link > *{
    color: rgb(100, 100, 11);
}
.nav_link a:hover{
    color: yellowgreen;
}
.nav_link a.hover-black:hover{
    color: black !important;
}
