@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;1,100;1,200;1,400;1,600;1,800&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Grayish-Blue: hsl(216, 30%, 68%);
    --Dark-Violet: hsl(256, 26%, 20%);
    --fw:400;
}
html{
    font-size:16px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}