@media screen and (max-width:768px) {
    body{
        align-items: flex-start;
    }
    .container{
        flex-wrap:wrap;
        justify-content: center;
        width: 100%;
        min-height:800px;
        gap: 0;
    }
    .container .left-container{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .container .left-container .child .child-text{
        display: none;
    }
    .container .right-container{
            margin-top: -300px;
    }
    
   
 
}